<!-- <div class="container-fluid">
  <div class="row  mx-0 ">
    <div class="col-md-8 col-xl-9 mx-auto  ">

      <div class="card ">
        <div class="row">
          <div class="col-md-8 col-lg-7 col-sm-6">
            <img src="../../../../../assets/images/left.side.png"  class="" width="578px" height="600px">
          </div>
          <div class="col-md-4 col-lg-5 col-sm-6  ps-md-0 my-auto">
            <div class="auth-form-wrapper px-4 py-5 ">
              <h3 class=" fw-normal mb-4 text-center" style="color: #000;">Welcome back</h3>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
 -->




<div class="bodyimg">
  <div class="container-fluid">
    <div class="row  mx-0 ">
      <div class="col-md-8 col-xl-9 mx-auto  ">

        <div class="card mt-5 p-0" style="background-color: #fff;">
          <div class="row">
            <div class="col-md-8 col-lg-7 col-sm-6 p-0 m-0" >
              <img src="../../../../../assets/images/left.side.jpg"  class="m-0" width="578px" height="600px" >
            </div>
            <div class="col-md-4 col-lg-5 col-sm-6  ps-md-0 my-auto">
              <div class="auth-form-wrapper px-4 py-5 ">
                <h3 class=" fw-normal mb-3 text-center" style="color: #000;">Welcome back</h3>
                <form class="forms-sample" [formGroup]="formdata">
                  <div class="mb-3 col-10 text-center mx-auto">

                    <input type="text" formControlName="email" id="exampleInputEmail1" name="email"
                     class="form-control " [ngClass]="{'is-valid':email.valid,'is-invalid':email.invalid}" id="exampleInputEmail1" placeholder="Email" value="">

                     <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                      <div *ngIf="email.errors?.email" class="text-danger">
                        input must be email
                     </div>
                      <div *ngIf="email.errors?.required" class="text-danger">
                      email is required.
                      </div>

                  </div>

                  </div>



                  <div class="mb-3 col-10 m-auto">
                    <input type="password" formControlName="password"
                    class="form-control" id="exampleInputPassword1"  [ngClass]="{'is-valid':password.valid,'is-invalid':password.invalid}" autocomplete="current-password" placeholder="Password" value="">

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                      <div *ngIf="password.errors?.required" class="text-danger">
                      password is required.
                      </div>

                  </div>
                  </div>
                  <div class="form-check mb-3 m-5 mt-2">
                    <input type="checkbox" class="form-check-input" id="authCheck">
                    <label class="form-check-label" for="authCheck">
                      Remember me
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bcolor mt-3 mb-2 mb-md-0 w-75" (click)="onLoggedin($event)">{{'auth.login' | translate}}</button>

                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bcolor mt-3 mb-2 mb-md-0 w-75" style="background-color: #555; color: #fff;" (click)="onLoggedin($event)">
                      <i class="fa-brands fa-microsoft me-2"></i>
                      Login With Microsoft</button>

                  </div>
                 
                  <a routerLink="/auth/register" class="d-block mt-3 text-muted text-center">Not a user? <span style="color: #00cafd;">Sign up</span></a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>













