


<div  class="card mt-5" >
  <form [formGroup]="formdata">
  <div class="row card-body" >
    <div class="d-flex justify-content-between align-items-baseline mb-2">
      <h3 class=" mb-0">Add User LaserFiche </h3>

    </div>



    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="mt-4">
        <label for="inputtext" class="" >User Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputtext"  placeholder="Full Name"
          [ngClass]="{'is-valid':name.valid,'is-invalid':name.invalid}" formControlName="name">

          <div *ngIf="name?.invalid && (name.dirty|| name?.touched)" class="text text-danger">
            <span *ngIf="name.errors?.['required']">
              Full name  is required
            </span>

          </div>
        </div>
      </div>

    </div>


    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="mt-4">
        <label for="inputtext" class="" >Password</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputtext"  placeholder="Password"
          [ngClass]="{'is-valid':password.valid,'is-invalid':password.invalid}"  placeholder="Password" formControlName="password">
          <div *ngIf="password?.invalid && (password.dirty|| password?.touched)" class="text text-danger">
            <span *ngIf="password.errors?.['required']">
              Password  is required
            </span>
            <div *ngIf="password.errors?.['minlength']">
                Password is required at lest 6 charcaters
            </div>

            <div *ngIf="password?.errors?.['pattern']">
                Password should have at least one: Capital letter, small letter, number, special character
          </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-sm-12 col-md-12">

      <div class="mt-4">
        <label for="inputtext" class="" >Confiram Password</label>
        <div class="col-sm-10 ">
          <input type="text" class="form-control" id="inputtext"  placeholder="Confiram  Password"
          [ngClass]="{'is-valid':confirm.valid  ,'is-invalid':confirm.invalid }" formControlName="confirm">
          <div *ngIf="confirm?.invalid && (confirm.dirty|| confirm?.touched)" class="text text-danger">
            <span *ngIf="confirm.errors?.['required']">
              confirm password is required
            </span>
            <span *ngIf="confirm.errors?.['noMatch']">
              confirm password  not match  password
            </span>


          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="mt-4">
        <label for="inputtext" class="" >Ip Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputtext"  placeholder="Full Name"
          [ngClass]="{'is-valid':ip.valid,'is-invalid':ip.invalid}" formControlName="ip">

          <div *ngIf="ip?.invalid && (ip.dirty|| ip?.touched)" class="text text-danger">
            <span *ngIf="ip.errors?.['required']">
               Ip  Address is required
            </span>

          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="mt-4">
        <label for="inputtext" class="" >Repository Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputtext"  placeholder="Full Name"
          [ngClass]="{'is-valid':reponame.valid,'is-invalid':reponame.invalid}" formControlName="reponame">

          <div *ngIf="reponame?.invalid && (reponame.dirty|| reponame?.touched)" class="text text-danger">
            <span *ngIf="reponame.errors?.['required']">
              Repository is required
            </span>

          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="mt-4">
        <label for="inputtext" class="" >Number Of session</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputtext"  placeholder="Number Of session"
          [ngClass]="{'is-valid':numofsession.valid,'is-invalid':numofsession.invalid}" formControlName="numofsession">

          <div *ngIf="numofsession?.invalid && (numofsession.dirty|| numofsession?.touched)" class="text text-danger">
            <span *ngIf="numofsession.errors?.['required']">
              Number Of Session  is required
            </span>
            <span *ngIf="numofsession.errors?.['pattern']">
              Number Of Session  must be number
            </span>

          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="mt-4">
        <label for="inputtext" class="" >Number Of Open Session</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputtext"  placeholder="Number Of session"
          [ngClass]="{'is-valid':opensession.valid,'is-invalid':opensession.invalid}" formControlName="opensession">

          <div *ngIf="opensession?.invalid && (opensession.dirty|| opensession?.touched)" class="text text-danger">
            <span *ngIf="opensession.errors?.['required']">
              Number Of Session  is required
            </span>
            <span *ngIf="opensession.errors?.['pattern']">
              Number Of Session  must be number
            </span>

          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-12 col-sm-12 col-md-12 text-center">
      <div class="mt-3">

        <div class="col-sm-5 float-end">
         <button type="submit" class="btn w-50" id="btnsubmit" style="background-color:#00cafd; color:#fff ;"> Submit</button>
        </div>
      </div>

    </div>


  </div>
</form>
</div>


<div class="col-lg-12 col-xl-12 stretch-card mt-4">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-baseline mb-1">
        <h3 class=" mb-0">Users List</h3>
        <div ngbDropdown class="mb-2">
          <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton7">
            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
          </div>
        </div>
      </div>



      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th class="pt-0">#</th>
              <th class="pt-0">User Name</th>
              <th class="pt-0">Ip Address</th>
              <th class="pt-0">Number Of Session</th>
              <th class="pt-0">Edit</th>
              <th class="pt-0">Delete</th>

            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr  style="cursor: pointer;" >
                <td>item.id</td>
                <td>item.name</td>
                <td>item.subject</td>
                <td>item.subject</td>
                <td><i class="fa-solid fa-pen-to-square" (click)="updaterow(1)"></i></td>
                <td><i class="fa-solid fa-delete-left"></i></td>
               <td>


              </td>


              </tr>


            </ng-container>


          </tbody>
        </table>
      </div>

  </div>
</div>








