<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-3 grid-margin ">
        <div class="card">
          <div class="card-body text-center">
            <div class="d-flex ">
              <p class="">Organization</p>

            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-xl-12">

                <div class="">
                  <p class="">
                    <span>3.3%</span>

                  </p>
                  <div class="flot-wrapper">
                    <apx-chart
                    [series]="cloudStorageChartOptions.series"
                    [chart]="cloudStorageChartOptions.chart"
                    [colors]="cloudStorageChartOptions.colors"
                    [plotOptions]="cloudStorageChartOptions.plotOptions"
                    [fill]="cloudStorageChartOptions.fill"
                    [stroke]="cloudStorageChartOptions.stroke"
                    [labels]="cloudStorageChartOptions.labels"
                  ></apx-chart>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>


      </div>
      <div class="col-3 grid-margin ">
        <div class="card" >
          <div class="card-body text-center">
            <div class="d-flex ">
              <p class="">Users</p>

            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-xl-12">

                <div class="">
                  <p class="">
                    <span>-9</span>
                    <i data-feather="arrow-down" appFeatherIcon class="icon-sm mb-1"></i>
                  </p>
                  <div class="flot-wrapper">
                    <apx-chart
                    [series]="cloudStorageChartOptions.series"
                    [chart]="cloudStorageChartOptions.chart"
                    [colors]="cloudStorageChartOptions.colors"
                    [plotOptions]="cloudStorageChartOptions.plotOptions"
                    [fill]="cloudStorageChartOptions.fill"
                    [stroke]="cloudStorageChartOptions.stroke"
                    [labels]="cloudStorageChartOptions.labels"
                  ></apx-chart>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-3 grid-margin ">
        <div class="card" >
          <div class="card-body text-center">
            <div class="d-flex ">
              <p class=" ">User Group</p>

            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-xl-12">

                <div class="">
                  <p class="">
                    <span>9</span>

                  </p>
                  <div class="flot-wrapper">
                    <apx-chart
                    [series]="cloudStorageChartOptions.series"
                    [chart]="cloudStorageChartOptions.chart"
                    [colors]="cloudStorageChartOptions.colors"
                    [plotOptions]="cloudStorageChartOptions.plotOptions"
                    [fill]="cloudStorageChartOptions.fill"
                    [stroke]="cloudStorageChartOptions.stroke"
                    [labels]="cloudStorageChartOptions.labels"
                  ></apx-chart>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-3 grid-margin ">
        <div class="card " >
          <div class="card-body text-center">
            <div class="d-flex ">
              <p class="">Access Right</p>

            </div>
            <div class="row">
              <div class="col-12 col-md-12 col-xl-12">

                <div class="">
                  <p class="">
                    <span>9</span>

                  </p>
                  <div class="flot-wrapper">
                    <apx-chart
          [series]="cloudStorageChartOptions.series"
          [chart]="cloudStorageChartOptions.chart"
          [colors]="cloudStorageChartOptions.colors"
          [plotOptions]="cloudStorageChartOptions.plotOptions"
          [fill]="cloudStorageChartOptions.fill"
          [stroke]="cloudStorageChartOptions.stroke"
          [labels]="cloudStorageChartOptions.labels"
        ></apx-chart>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


</div>

