
<div class="row">
  <div class="header col-4 me-4">

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->
      <mat-tree-node *matTreeNodeDef="let node" #ele [id]="node.id" matTreeNodeToggle (click)="getelement(ele)">
          {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle class="btn"
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </div>
          <!-- There is inline padding applied to this div using styles.
              This padding value depends on the mat-icon-button width.  -->
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
              role="group">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>

    <div class="col-lg-7 col-xl-7 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class=" mb-0">My Assignment</h6>
            <div ngbDropdown class="mb-2">
              <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton7">
                <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
                <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
                <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
                <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="pt-0">#</th>
                  <th class="pt-0">Name</th>
                  <th class="pt-0">key person</th>
                  <th class="pt-0">Email</th>
                  <th class="pt-0">Address</th>
                  <th class="pt-0">phone</th>
                  <th class="pt-0">Logo</th>
                  <th class="pt-0">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                *ngFor="let item of collection  ;let i=index">
                  <tr  style="cursor: pointer;">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.subject}}</td>
                    <td>{{item.subject}}</td>
                    <td>{{item.document}}</td>
                    <td><span class="badge" style="font-size: 16px;"
                      [ngStyle]="{'color': item.priority=='high' ? 'red' : item.priority=='low'? '#FFC000' :'green'}"
                      >{{item.priority}}
                       <i   [ngClass]="{ 'feather icon-arrow-down':item.priority==='low','fa-solid fa-arrow-up': item.priority ==='high' }"> </i>
                       <i class="fa-solid fa-arrow-trend-down" [hidden]="item.priority!=='cratical'"></i>
                      </span> </td>
                    <td>{{item.due_date}}</td>
                    <td>
                    <a [routerLink]="'task/'+item.id">  <i class="link-icon feather icon-book-open " ></i></a>

                    </td>

                  </tr>


                </ng-container>


              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

</div>

