.pginationdiv
{
  cursor: pointer;
 font-size: 16px;
}
.pginationdiv:hover
{
  width: 100%;
  background-color: #00cafd;
  color: #fff;
}
.dropdown-menu{
min-width: 6rem !important;
}
.headertitlepagination
{
  font-size: 12px;
  font-style: italic;
  color: #00cafd;
}
.icon-book-open
{
  color: #00cafd;
  font-size: 18Px;
}


::ng-deep ngb-pagination .page-item.active .page-link {
  background-color: #00cafd;
  border-color: #00cafd;
}




.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-purple .fa, .active-purple-2 .fa {
  color: #ce93d8;
}
.active-pink .fa, .active-pink-2 .fa {
  color: #f48fb1;
}

