<div class="col-lg-12 col-xl-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-baseline mb-1">
        <h3 class=" mb-0">Users</h3>
        <div ngbDropdown class="mb-2">
          <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton7">
            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
            <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th class="pt-0">#</th>
              <th class="pt-0">Full Name</th>
              <th class="pt-0">Department</th>
              <th class="pt-0">position</th>
              <th class="pt-0">Email</th>
              <th class="pt-0">Role</th>
              <th class="pt-0">Status</th>
              <th class="pt-0">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container
            *ngFor="let item of collection  ;let i=index">
              <tr  style="cursor: pointer;" (click)="openrow(item.id)">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.document}}</td>
                <td>Admin </td>
               <td    >

                <div class="col-lg-8 col-sm-12 col-md-12"
               >
                  <div class="">
                  <select class="form-select " #status aria-label="Default select example" (change)="chanag(status.value,item.id)"
                   [ngClass]="{'text-danger':item.priority=='low' ,'text-success':item.priority=='high' , 'text-warning':item.priority=='cratical' }"
                  style="border: none;">
                    <option  [selected]="item.priority=='high'" value="A" style="color: green;">Approved</option>
                      <option [selected]="item.priority=='low'"  value="r" style="color: red;">rejected</option>
                      <option [selected]="item.priority=='cratical'"  value="p" style="color: #ffc000;">pendding</option>


                  </select>
                </div>
                </div>

              </td>
                <td>
                <a [routerLink]="'task/'+item.id">  <i class="link-icon feather icon-book-open " ></i></a>

                </td>

              </tr>


            </ng-container>


          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
